@{
    ViewBag.Title = "Kotisivu";
}


<div class="jumbotron">
    <h1 class="display-3">TilausDb</h1>
    <p class="lead">Palautettava tehtävä.</p>
    <hr class="my-4">
    <p>Tietokantasovellusten toteuttaminen Kevät 2020</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.careeria.fi/" role="button">Careeria</a>
    </p>
</div>